.footer-container {
    bottom: 0;
    text-align: center;
}

hr {
    max-width: 1000px;
}

.logo {
    cursor: pointer;
    border: 0;
    background-color: #FFFFFF;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
}

.github {
    background-image: url('./assets/logos/logo-github.svg');
}

.react {
    background-image: url('./assets/logos/logo-react.svg');
}

.ionic {
    background-image: url('./assets/logos/logo-ionic.svg');
}

.html5 {
    background-image: url('./assets/logos/logo-html5.svg');
}

.css3 {
    background-image: url('./assets/logos/logo-css3.svg');
}

.dice {
    position: fixed;
    padding: 20px;
    bottom: 20px;
    left: 20px;
    mask-image: url('./assets/icons/dice-outline.svg');
}

.spin {
    animation-name: spin;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.dice-tooltip {
    bottom: 28px;
    left: 70px;
    position: fixed;
}