.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    border: 1px solid #777;
    border-radius: 8px;
    padding: 20px 40px;
    -webkit-box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
    box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.editcard {
    margin-top: 50px;
}

.walletcard {
    margin-top: 50px;
}

.card-title {
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
}

.card-desc {
    font-size: 16px;
    font-weight: normal;
}

.card-title>input {
    text-align: center;
    border: 0;
    font-size: 24px;
    font-weight: bold;
}

.card-title>input:focus {
    outline: none;
}

.card-title>input::placeholder {
    color: #777;
}

.textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: none;
    min-height: 40px;
    line-height: 20px;
    padding: 10px;
}

.textarea:empty::before {
    cursor: text;
    color: #777;
    content: 'Job Description...';
}

/*
Optionally clear the text when the user focuses on it

.textarea:empty:focus::before {
    content: '';
}
*/

.textarea::placeholder {
    color: #777;
}

.textarea:focus {
    outline: none;
}

.submit {
    cursor: pointer;
    margin-left: 95%;
    border: 0;
    background-color: #FFFFFF;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./assets/icons/arrow-forward-circle-outline.svg');
}

.submitactive {
    background-image: url('./assets/icons/arrow-forward-circle.svg');
}

.bookmark {
    padding: 14px;
    background-image: url('./assets/icons/bookmark-outline.svg');
}

.bookmarkactive {
    padding: 14px;
    background-image: url('./assets/icons/bookmark-filled.svg');
}

.add {
    background-image: url('./assets/icons/add-circle-outline.svg');
}

.addactive {
    background-image: url('./assets/icons/add-circle.svg');
}

.exit {
    margin-left: -100%;
    background-image: url('./assets/icons/close-outline.svg');
}

.cardicon {
    padding: 14px;
    background-image: url('./assets/icons/card-outline.svg');
}

.btnlabel {
    margin-top: -25px;
    font-size: 14px;
    margin-right: 25px;
    text-align: right;
}